<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Phython_Notebook_Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary '{}' - collection of values/data types(string, int, etc) stored in one variable - does not contain duplicate values - format of key and values - mutable
mydic={"Username":"Admin",
       "Password":1234,
       "Batch":2023}
print(mydic)
print(type(mydic))
print(len(mydic)) #len starts from 1 - prints individual data

{'Username': 'Admin', 'Password': 1234, 'Batch': 2023}
<class 'dict'>
3

In [ ]:
print(mydic[0])
#index no. not applicable in dictionary

KeyError: ignored

In [ ]:
#Keys in dictionary used to update/modify/ print values
#update
mydic["Password"]=890
print("The values are",mydic)
#Add
mydic["Month"]="April"
mydic["Mail"]="abc@gmail.com"
print("the values are", mydic)
#Add multiple values
mydic["Password"]= 890, 330
print("the values are", mydic)
#Delete keys
a=mydic["Mail"]
del mydic["Mail"]
print(mydic)
#Replace Key
mydic["Account"]=a
print(mydic)

The values are {'Username': 'Admin', 'Password': 890, 'Batch': 2023}
the values are {'Username': 'Admin', 'Password': 890, 'Batch': 2023, 'Month': 'April', 'Mail': 'abc@gmail.com'}
the values are {'Username': 'Admin', 'Password': (890, 330), 'Batch': 2023, 'Month': 'April', 'Mail': 'abc@gmail.com'}
{'Username': 'Admin', 'Password': (890, 330), 'Batch': 2023, 'Month': 'April'}
{'Username': 'Admin', 'Password': (890, 330), 'Batch': 2023, 'Month': 'April', 'Account': 'abc@gmail.com'}

In [ ]:
#Deleting key first
dic1={"a":2,"b":3}
print(dic1)
a=dic1["b"] #create variable and assign key to it
del dic1["b"]
dic1
#Replacing deleted Keys and assigning empty value to new key
dic1["c"]=a
print(dic1)

{'a': 2, 'b': 3}
{'a': 2, 'c': 3}

In [ ]:
a= mydic["Batch"]
del mydic["Batch"]
print(mydic)
mydic["Year"]= a
print(mydic)

{'Username': 'Admin', 'Password': (890, 330), 'Month': 'April', 'Account': 'abc@gmail.com'}
{'Username': 'Admin', 'Password': (890, 330), 'Month': 'April', 'Account': 'abc@gmail.com', 'Year': 2023}

In [ ]:
#set '{}' -  unordered collection of datatypes - does not contain duplicates
myset={123,45,67,890,5,5}
print(myset) #does not show 2nd 5/ randomly prints datas
print(type(myset))

{67, 5, 890, 123, 45}
<class 'set'>

In [ ]:
print(myset[3])
#Index nos. not applicable

TypeError: ignored

In [ ]:
dic3={
    "Name":"Abe",
    "Gender":"M",
    "Age": 33,
    "Number":123456789,
    "Color":"Blue",
    "Status":"Married"
}
print(dic3)

{'Name': 'Abe', 'Gender': 'M', 'Age': 33, 'Number': 123456789, 'Color': 'Blue', 'Status': 'Married'}

In [ ]:
dic4={
    "Name":"Thalia",
    "Gender":"F",
    "Age":28,
    "Number":987654321,
    "Color":"Electric Blue",
    "Status":"Married"
}
print(dic4)

{'Name': 'Thalia', 'Gender': 'F', 'Age': 28, 'Number': 987654321, 'Color': 'Electric Blue', 'Status': 'Married'}

In [ ]:
set1={1,5,5,5,2,3,4,5,6,7,8,9,10}
set2={12,34,45,45,56,67,78,89,89,90}
#Different types operations performed in set
#combining values(union)
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 34, 67, 12, 45, 78, 56, 89, 90}