<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'Class 1'

'Class 1'

In [ ]:
print("Hello All")

Hello All

In [ ]:
# (#) represents comments
# variable -> a container that has the capability to store multiple values
num1=100
print(num1)
print(type(num1))

100
<class 'int'>

In [ ]:
import typing
#float -> which contains decimal nos
num2=100.99
print(num2)
print(type(num2))

100.99
<class 'float'>

In [ ]:
#string -> characters written in single/double quotation
name="Rebecca"
print(name)
print(type(name))

Rebecca
<class 'str'>

In [ ]:
num3=300
num4=33.33
sum=num3+num4
print(sum)
#concatenation -> combining 2 data types
print("the sum of two values is", sum)
print(type(sum))

333.33
the sum of two values is 333.33
<class 'float'>

In [ ]:
x=33
y=3
difference=x-y
print(difference)
print("the difference of x and y is", difference)
print(type(difference))

30
the difference of x and y is 30
<class 'int'>

In [ ]:
x=33
y=3
multiply=x*y
print(multiply)
print("the product of x and y is", multiply)

99
the product of x and y is 99

In [ ]:
#booleans -> gives whether condition is true or false
#(==) is equal to
#(!=) not equal to
print(num3>num4)
print(num3!=num4)

True
True