<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CLASS 7**

In [4]:
# (*args) - used to pass a variable number of non-keyword arguements to a function - it allows any number of arguements
# *args - positional arguments
def collage(Teacher,*args):
  print(Teacher,"is my Teacher")
  for roll_no in args:
    print("The student's roll_no are", roll_no)

collage("Lucy",23,4,5,6,10,12,8,89,1)

Lucy is my Teacher
The student's roll_no are 23
The student's roll_no are 4
The student's roll_no are 5
The student's roll_no are 6
The student's roll_no are 10
The student's roll_no are 12
The student's roll_no are 8
The student's roll_no are 89
The student's roll_no are 1

In [5]:
collage("Lizzie Ma'am",1,2,3,4,5,6,7,8,9)

Lizzie Ma'am is my Teacher
The student's roll_no are 1
The student's roll_no are 2
The student's roll_no are 3
The student's roll_no are 4
The student's roll_no are 5
The student's roll_no are 6
The student's roll_no are 7
The student's roll_no are 8
The student's roll_no are 9

In [10]:
def add(*numbers):
  sum= 0
  for i in numbers:
    add=sum+i
    print("The sum of two values are",add)

add(1,3,4,5,6,77,8,99,89)

The sum of two values are 1
The sum of two values are 3
The sum of two values are 4
The sum of two values are 5
The sum of two values are 6
The sum of two values are 77
The sum of two values are 8
The sum of two values are 99
The sum of two values are 89

In [11]:
# **kwargs - keyword arguements - includes key and values
def collage(Teacher,*args, **kwargs):
  print(Teacher,"is my Teacher")
  for roll_no in args:
    print("The student's roll_no are", roll_no)
  for subject in kwargs:
    print(subject,kwargs[subject])

collage("Mary",1,2,3,English=73,Science=88,Maths=93)

Mary is my Teacher
The student's roll_no are 1
The student's roll_no are 2
The student's roll_no are 3
English 73
Science 88
Maths 93

In [12]:
def marks(Name,**kwargs):
  print("My name is", Name)
  for subject in kwargs:
    print("The marks for",subject,"are",kwargs[subject])

marks("Rebecca", Accounts=93, Statistics=96, IT=93)

My name is Rebecca
The marks for Accounts are 93
The marks for Statistics are 96
The marks for IT are 93

In [27]:
a=[23,4,56,7,8,9]
a.sort()
print(a)

[4, 7, 8, 9, 23, 56]

In [28]:
def rn(*num):
  mylist=[i for i in num]
  mylist.sort()
  for i in mylist:
    print(i)

rn(12,34,5,6,4,67,8,9)

4
5
6
8
9
12
34
67

In [41]:
def details(Teacher,*args):
  print(Teacher,"is my teacher")
  for roll_no in sorted(args):
    print("The student roll_no are", roll_no)

details("Lucy",23,4,5,6,10,16,18,89,1)

Lucy is my teacher
The student roll_no are 1
The student roll_no are 4
The student roll_no are 5
The student roll_no are 6
The student roll_no are 10
The student roll_no are 16
The student roll_no are 18
The student roll_no are 23
The student roll_no are 89

In [43]:
#Files - where data/ information can be stored, written, read etc.
# 3 modes --> read/write/append(modify datas)
#to create file -  click files icon, right click and select new file

In [44]:
#Read mode -built in method for reading file(.read)
file1= open("a.txt","r")
print(file1.read())

Hello all

In [45]:
file1.close()

In [52]:
#Write mode - adds new data while excluding existing data
file1=open("a.txt","w")
file1.write("This is written by the user \nThis is written by the programmer") # 62 - lenght of character

62

In [54]:
file1= open("a.txt","r")
print(file1.read())

This is written by the user
This is written by the programmer

In [68]:
a=open("Info","r")
print(a.read())

Welcome to Python

In [69]:
a.close()

In [70]:
b=open("Info","w")
b.write("Introduction to Python with Machine Learning")

44

In [72]:
b=open("Info","r")
print(b.read())

Introduction to Python with Machine Learning

In [73]:
b.close()

In [85]:
#Append Mode - allows you to write data without excluding existing data

In [84]:
file1=open("a.txt","a")
file1.write("\nThis is written by the developer")

33

In [81]:
file1=open("a.txt","r")
print(file1.read())

This is written by the user
This is written by the programmer
This is written by the developer