<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Class 8**

In [10]:
# comprehension - present/ create sequence (list/tuple/dictionary etc.) - concise way to create a list/set/ dictionary
#List comprehension
list1=[1,42,3,4,56,7,8,234,37,2]
print(list1)

[1, 42, 3, 4, 56, 7, 8, 234, 37, 2]

In [17]:
even_list=[]
for x in list1:
  if x%2==0:
    even_list.append(x)
#use append to add values to list

print(sorted(even_list))

[42, 4, 56, 8, 234, 2]
[2, 4, 8, 42, 56, 234]

In [25]:
odd_list=[]
for x in list1:
  if x%2 !=0:
    odd_list.append(x)
print(odd_list)

[1, 3, 7, 37]

In [33]:
#list comprehension
even= [x for x in list1 if x%2==0]
print("The even values are",even)

odd=[x for x in list1 if x%2 !=0]
print("The odd values are", odd)

The even values are [42, 4, 56, 8, 234, 2]
The odd values are [1, 3, 7, 37]

In [34]:
even, odd= [x for x in list1 if x%2==0], [x for x in list1 if x%2!=0]
print(sorted(even))
print(sorted(odd))

[2, 4, 8, 42, 56, 234]
[1, 3, 7, 37]

In [36]:
dict={}
for y in list1:
  dict[y]=y**2  #(*)=> multiply (**)=> to the power of
print(dict)

{1: 1, 42: 1764, 3: 9, 4: 16, 56: 3136, 7: 49, 8: 64, 234: 54756, 37: 1369, 2: 4}

In [42]:
#dictionary comprehension
dict ={y:y+2 for y in list1}
print(dict)
dict_odd={y:y**2 for y in list1 if y%2!=0}
dict_even={y:y**2 for y in list1 if y%2==0}
print(dict_odd)
print(dict_even)

{1: 3, 42: 44, 3: 5, 4: 6, 56: 58, 7: 9, 8: 10, 234: 236, 37: 39, 2: 4}
{1: 1, 3: 9, 7: 49, 37: 1369}
{42: 1764, 4: 16, 56: 3136, 8: 64, 234: 54756, 2: 4}

In [46]:
even_set=set()
for x in list1:
  if x %2==0:
    even_set.add(x)
print(sorted(even_set))

odd_set= set()
for x in list1:
  if x%2!=0:
    odd_set.add(x)
print(sorted(odd_set))

[2, 4, 8, 42, 56, 234]
[1, 3, 7, 37]

In [47]:
#Set comprehension
even, odd={x for x in list1 if x%2==0},{x for x in list1 if x%2!=0}
print(sorted(even))
print(sorted(odd))

[2, 4, 8, 42, 56, 234]
[1, 3, 7, 37]