<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment**

A1- Create Simple Calculator

In [5]:
def add(num1, num2):
  return num1+num2

def subtract(num1, num2):
  return num1-num2

def multiply(num1, num2):
  return num1*num2

def divide(num1, num2):
  return num1/num2

print ("Select Operation\n" \
       "1.Add\n" \
       "2.Subtract\n" \
       "3.Multiply\n" \
       "4.Divide")

Select Operation
1.Add
2.Subtract
3.Multiply
4.Divide

In [11]:
select = int(input("Select operation from 1,2,3,4"))
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

if select == 1:
  print(num1,"+", num2,"=", add(num1,num2))
elif select == 2:
  print(num1,"-",num2,"=", subtract(num1,num2))
elif select == 3:
  print(num1,"*",num2,"=", multiply(num1,num2))
elif select ==4:
  print(num1,"/",num2,"=", divide(num1,num2))
else:
  print("Invalid Input")

Select operation from 1,2,3,43
Enter first number11
Enter second number3
11 * 3 = 33