<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class 6

In [2]:
#keyword for creating function - (def)

def calc(num1,num2):
  print("The sum of values are", num1+num2)
#Parameter - variables/placeholders for values used when creating a function (num1,num2) 
#Arguement - values passing through the parameter (10,20)
#function name - calc
calc(10,20)

The sum of values are 30

In [8]:
def a():
  x=10
  for y in range(1,10):
    add=x+y
    print("The sum of",x, "and",y,"=", add)

a()

The sum of 10 and 1 = 11
The sum of 10 and 2 = 12
The sum of 10 and 3 = 13
The sum of 10 and 4 = 14
The sum of 10 and 5 = 15
The sum of 10 and 6 = 16
The sum of 10 and 7 = 17
The sum of 10 and 8 = 18
The sum of 10 and 9 = 19

In [10]:
def b():
  list1=[1,2,3,4,5,6,7,8,9]
  for x in list1:
    multiply= x*3
    print(x,"*",3,"=",multiply)

b()

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27

In [25]:
#Zip function - used to iterate over two seperate ranges parrallely
def z():
  for a,b in zip(range(1,10), range(11,20)):
    print(a,"+",b,"=", a+b)

z()

1 + 11 = 12
2 + 12 = 14
3 + 13 = 16
4 + 14 = 18
5 + 15 = 20
6 + 16 = 22
7 + 17 = 24
8 + 18 = 26
9 + 19 = 28

In [34]:
#Advanced Arguement passing - 
#function simply passes data/arguements based on position of parameter irrespective of whether they fit within the parameters assigned
#Positional Arguements - arguements need to be passed in the proper position of the parameters ( name argumenet in name parameter etc.)
def details(name,city,batch):
  print("My name is",name,"from",city ,"Batch",batch)

details("Zion","Dubai",2021)
details("Kiara","Rome",2022)
details("Kim","New York",2023)
details("Bangalore",2023,"Tom")

My name is Zion from Dubai Batch 2021
My name is Kiara from Rome Batch 2022
My name is Kim from New York Batch 2023
My name is Bangalore from 2023 Batch Tom

In [38]:
x=int(input("Enter first number"))
y=int(input("Enter second number"))
print(x+y) #data types - string -> to convert to integer add 'int' before input
print(type(x+y))

Enter first number30
Enter second number3
33
<class 'int'>

In [42]:
a=int("10")
print(a)
print(type(a))

b=10
print(b, type(b))

c="10"
print(c, type(c))

10
<class 'int'>
10 <class 'int'>
10 <class 'str'>

In [45]:
def data(age,status,position):
  print("She is",age,"years,",status,"and working as",position)

data(33,"married","regional manager")
data(22,"single","intern")
data(29,"single","supervisor")

She is 33 years, married and working as regional manager
She is 22 years, single and working as intern
She is 29 years, single and working as supervisor

In [59]:
#Keyword Arguement- values allocated based on keys (name/city/batch) while calling arguement not based on position
def details(name,city,batch):
  print("My name is",name,"from",city ,"Batch",batch)

details(city="Bangalore", batch=2023, name="Tom")
details("Tom",batch=2020,city="Bangalore") # Combination of positional and keyword arguement - positional arguement must be before keyword arguements

My name is Tom from Bangalore Batch 2023
My name is Tom from Bangalore Batch 2020

In [65]:
#Default Arguement - passing values directly to parameters
def details(name="Tom",city="Chennai",batch="April"):
  print("My name is",name,"from",city ,"Batch",batch)
  
details()
details("Jerry")
details("Jerry", "Muscat")

My name is Tom from Chennai Batch April
My name is Jerry from Chennai Batch April
My name is Jerry from Muscat Batch April