<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Recap

In [2]:
#set - mutable - can be added/ combined/ n find common values/ remove values
#union (|) - combines values of more than one set 
myset={10,9,76,4,12,3,2,4}
myset.add(100)
myset2= {1,2,3,4,5,6,7,8,9,10}
myset3=myset.union(myset2)
print(myset3)

{1, 2, 3, 4, 100, 5, 6, 7, 9, 10, 8, 12, 76}

In [3]:
 mycource={"physics": "modern",
           "chemistry":"thermos",
           "math":"differential equation",
           "engneering practices":"raibarelly",
           "community internship":"ranipur",
           "core":"mathemathics and computing" }

a=mycource["physics"]
del mycource["physics"]
mycource["humanities"]=a
print(mycource)

{'chemistry': 'thermos', 'math': 'differential equation', 'engneering practices': 'raibarelly', 'community internship': 'ranipur', 'core': 'mathemathics and computing', 'humanities': 'modern'}

In [5]:
set1={1,234,56,78,9,8}
set2={22,34,56,78,9,0}
set3=set1.union(set2)
print(set3)

{0, 1, 34, 8, 9, 234, 78, 22, 56}

In [7]:
set4=set1|set2|set3
print("the values are", set4)

the values are {0, 1, 34, 8, 9, 234, 78, 22, 56}

In [33]:
#intersection (&) - prints common values stored in the sets
set3=set1.intersection(set2)
print(set3)

{56, 9, 78}

In [37]:
set1={1,234,56,78,9,8}
set2={22,34,56,78,9,0}
set3={1,23,45,6}
set4=set1&set2&set3
print(set4) #shows empry set because only when each set shows common values are they printed - when no common values (in all 3 sets) it shows empty set

set()

In [38]:
set3.add(78) #in set we use add not append
print(set3)# shows 78 as common value between set1, set2 and set3
set3.remove(23)
print(set3)
set4=set1&set2&set3
print(set4)

{1, 6, 45, 78, 23}
{1, 6, 45, 78}
{78}

In [42]:
#frozen set - enables unmodification of data - makes datas immutable
set5=frozenset([9,0])
print(set5)
#add
set5.add(8) #immutable -cannot be altered/updated
print(set5)

frozenset({0, 9})

AttributeError: ignored

Class 4 - Functions, For loops

In [43]:
#Functions - set of instructions executed when called/invoked - avoids task repetition, time consumption
# (def) keyword used to invoke/ create function
print("Hello all", "\nwelcome to the class") #(\n) => new line

Hello all
welcome to the class

In [51]:
def a(): 
  print("Hello all", "\nwelcome to the class")
a()
a()

Hello all
welcome to the class
Hello all
welcome to the class

In [6]:
#Iterators - object that helps to print data one by one depending on two methods ie, 'iter' and 'next'
list1=[233,4,56,7,8,0]
print("the values of list is", list1)

the values of list is [233, 4, 56, 7, 8, 0]

In [7]:
iteration=iter(list1)

In [8]:
print(next(iteration))

233

In [10]:
#for loop
list1=[233,4,56,7,8,0]
for iter in list1:
  print("the values of iter is", iter)

the values of iter is 233
the values of iter is 4
the values of iter is 56
the values of iter is 7
the values of iter is 8
the values of iter is 0

In [15]:
list1=[233,4,56,7,8,0]
iteration= iter(list1)
while True:
  try:
    element=next(iteration)
  except StopIteration:
    break

TypeError: ignored

In [22]:
#name is a parameter
# Sailor Moon is an arguement
def b(name):
  for x in range(5): #to loop data 5 times
    print ("My favourite cartoon name is", name)
b("Sailor Moon")

My favourite cartoon name is Sailor Moon
My favourite cartoon name is Sailor Moon
My favourite cartoon name is Sailor Moon
My favourite cartoon name is Sailor Moon
My favourite cartoon name is Sailor Moon

In [24]:
def calc(num1,num2):
  print("the sum of two values are", (num1+num2))
  print("the difference of two values are", (num1-num2))
  print("the product is", (num1*num2))

calc(33,3)
calc(13,3)

the sum of two values are 36
the difference of two values are 30
the product is 99
the sum of two values are 16
the difference of two values are 10
the product is 39

In [30]:
def a1():
  name=input("Enter the name: ")
  print("His name is", name)

a1()

Enter the name: Abe Jackson
His name is Abe Jackson

In [41]:
def math():
  x=int(input("The value is"))
  y=int(input("The value is"))
  print("Sum :", (x+y))
  print("Difference :", (x-y))
  print("Product :", (x*y))
  print("Quotient :", (x/y))

math()

The value is33
The value is3
Sum : 36
Difference : 30
Product : 99
Quotient : 11.0

In [44]:
def table():
  n=int(input("Enter a number"))
  for i in range (1,11):
    print(n,"*",i,"=",n*i)
table()

Enter a number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [49]:
def a(): 
  num=int(input("Enter a value"))
  for iter in range(1,11):
    print(iter*num)
a()

Enter a value5
5
10
15
20
25
30
35
40
45
50