<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Index nos. -> helps to print individual datas (W|O|R|D|S)
#positive idexs (starts from 0 onwards (first letter being 0 (L-R))) n negative index(starts from -1 ( starts from last letter, going backwards(R-L)))
#List ('[]' -> used to create list) -> ordered collection of datatypes, mutual, contains duplicate values

In [ ]:
mylist=[1,2,3,4,5,6,7,"Data",8]
print(mylist)
#index nos (positive)
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])
print(mylist[6])
print(mylist[7])
print(mylist[8])

[1, 2, 3, 4, 5, 6, 7, 'Data', 8]
1
2
3
4
5
6
7
Data
8

In [ ]:
#index nos. (negative)
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])
print(mylist[-6])
print(mylist[-7])
print(mylist[-8])
print(mylist[-9])

8
Data
7
6
5
4
3
2
1

In [ ]:
s="Assignment"
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
print(s[8])
print(s[9])
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])
print(s[-8])
print(s[-9])
print(s[-10])

A
s
s
i
g
n
m
e
n
t
t
n
e
m
n
g
i
s
s
A

In [ ]:
#update (change values)
mylist=[1,2,34,56,7,3.04,"Data",1]
mylist[-3]=3.05
print("The values are", mylist)

The values are [1, 2, 34, 56, 7, 3.05, 'Data', 1]

In [ ]:
a=[1,2,34,56,7,3.04,"Data",1]
a[-3]=mylist
print("The values are", mylist)

The values are [1, 2, 34, 56, 7, [...], 'Data', 1]

In [ ]:
#Append (add values to the end of the list)
mylist=[1,2,34,56,7,3.04,"Data",1]
mylist.append(8)
print("The values are", mylist)

The values are [1, 2, 34, 56, 7, 3.04, 'Data', 1, 8]

In [ ]:
#insert (adds value to a specific index => (indexnumber, value trying to add))
mylist=[1,2,34,56,7,3.04,"Data",1]
mylist.insert(7,8)
print("The values are", mylist)

The values are [1, 2, 34, 56, 7, 3.04, 'Data', 8, 1]

In [ ]:
#delete
mylist=[1,2,34,56,7,3.04,"Data",1]
del mylist[-1]
print("The values are", mylist)

The values are [1, 2, 34, 56, 7, 3.04, 'Data']

In [ ]:
list1=["a","b","d","e"]
print(list1)
#update
list1[2]="c"
print(list1)
#insert
list1.insert(3,"d")
print(list1)
list1.insert(-1,"d")
print(list1)
#append "s"
list1.append("s",)
print(list1)
#remove
list1.remove("d")
print(list1)
del list1[1]
print(list1)

['a', 'b', 'd', 'e']
['a', 'b', 'c', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'd', 'e']
['a', 'b', 'c', 'd', 'd', 'e', 's']
['a', 'b', 'c', 'd', 'e', 's']
['a', 'c', 'd', 'e', 's']

In [ ]:
#tuple -> () ordered collection of datatypes, contains duplicate values, immutable
mytuple=(1,2,3,4,5)
mytuple.insert(3,8)
print(mytuple)
# Immutable - cannot be modified or adjusted

AttributeError: ignored

In [ ]:
#convirt tuple to list to adjust values
mytupple=[1,2,34,56,7,8]
print(mytupple)
#update - changing values
mytupple[2]=33
print(mytupple)
#insert - inserting a value at a specific index number
mytupple.insert(3,8)
print(mytupple)
#append - inserting new value at the end of the list
mytupple.append(3)
print(mytupple)
#remove
mytupple.remove(56)
print(mytupple)
#delete
del mytupple[-4]
print(mytupple)

[1, 2, 34, 56, 7, 8]
[1, 2, 33, 56, 7, 8]
[1, 2, 33, 8, 56, 7, 8]
[1, 2, 33, 8, 56, 7, 8, 3]
[1, 2, 33, 8, 7, 8, 3]
[1, 2, 33, 7, 8, 3]