<a href="https://colab.research.google.com/github/rebeccalizaverghese/Python-with-Machine-Learning/blob/main/Interactive_Python_Notebook_Class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class 11

In [7]:
# Modules - library containing set of functions performing specific commands
  #used to organize code into reusable blocks and manage, maintain larger programs
  #keyword -> (import)

import math #math - provides mathimatical operations
print(math.sin(3))
print(math.pi)
print(math.sqrt(64))

0.1411200080598672
3.141592653589793
8.0

In [9]:
import random #Random - imports random values
print(random.randint(1,9))

6

In [83]:
import datetime #Datetime - imports date and time
print(datetime.datetime.now())

2023-05-01 13:47:30.188473

In [84]:
#custom function
import module
module.a("Tom", "Good evening")
module.a("Katherine", "Welcome")

Good evening Tom
Welcome Katherine

In [85]:
import data
data.x(33, "married")

She is 33 years old and is married

In [88]:
import calc
calc.count(3)

1
2
3

In [89]:
#Regular Expression - provides a concise and flexible means for matching strings of texts, words, digits
#Search - to search a set of strings
from re import search #(re -> regular)
a="Welcome to python world"
b=re.search("to",a) #to find string ("to") in/inside (variable a)
print(b)
print("The start index number is", b.start()) 
print("The ending index number is", b.end()) 
print(b.span()) # gives starting and ending index no. of searched value
print(b.group()) # gives word/ group of elements you are trying to search

c= re.search("too",a)
print(c)

<re.Match object; span=(8, 10), match='to'>
The start index number is 8
The ending index number is 10
(8, 10)
to
None

In [90]:
from re import search
x="Hello All to Python with Machine Learning"
y=re.search("Python",x)
print(y)
print(y.span())
print(y.group())

<re.Match object; span=(13, 19), match='Python'>
(13, 19)
Python

In [91]:
import re
a=open("a.txt","r")
for x in a:
  if re.search("and",x):
    print(x)
  else:
    print("Invalid")

Hello and Welcome all!!

In [92]:
import re
x="3 and 40 are my favourite numbers"
y=re.findall("[0-9]+",x)
print(y)

['3', '40']

In [93]:
#sub
z=re.sub("\s", "#",x) #all blank spaces r replaced with(#)
print(x)
print(z)

3 and 40 are my favourite numbers
3#and#40#are#my#favourite#numbers

In [94]:
#split
z1=re.split("\s",x)
print(z1) #replaces the blank spaces with (,)

['3', 'and', '40', 'are', 'my', 'favourite', 'numbers']

In [95]:
a="Tom and Jerry"
b=a.split()
print(b)
print(a[0:3]+" "+a[8:])

['Tom', 'and', 'Jerry']
Tom Jerry